In [6]:
x = int(input("give me a number"))
if x>=10:
    print('hurray!!!')
else:
    print('better luck next time')
print('the end')

better luck next time
the end

In [7]:
if x%2 ==0:
    print('even')

even

In [9]:
price = 1000
if price > 2500:
    print('expensive')
else:
    print('we can buy it')

we can buy it

In [20]:
marks = int(input('enter your marks'))
total= 600
pct = marks/total*100
print(f'{marks}/{total}={pct:.2f}%')
if pct > 90:
    grade ='a'
elif pct >=75:
    grade = "b"
elif pct >=60:
    grade ='c'
elif pct >= 40:
    grade ='D'
else:
    grade='F'
print(f'grade: {grade}')

789/600=131.50%
grade: a

In [23]:
print("what is the capital of bihar?")
ans = input('your answer:')
match ans:
    case 'delhi':
        print('incorrect')
    case "patna"|"Patna":
        print("correct")
    case _:
        print('invalid answer')

what is the ccapital of bihar?
invalid answer

LOOPS
- Iteration based for 
-condition based while

In [5]:
movies = [
    "The Shawshank Redemption",
    "The Godfather",
    "Pulp Fiction",
    "The Dark Knight",
    "Schindler's List",
    "Forrest Gump",
    "The Lord of the Rings: The Fellowship of the Ring",
    "Fight Club",
    "Goodfellas",
    "The Matrix",
    "Star Wars: Episode IV - A New Hope",
    "Inception",
    "The Silence of the Lambs",
    "The Lion King",
    "Titanic",
    "Saving Private Ryan",
    "The Green Mile",
    "Gladiator",
    "The Departed",
    "The Godfather: Part II",
    "The Lord of the Rings: The Return of the King",
    "The Prestige",
    "The Avengers",
    "Jurassic Park",
    "The Sixth Sense",
    "Avatar",
    "Schindler's List",
    "The Usual Suspects",
    "The Terminator",
    "The Truman Show",
    "The Social Network",
    "Se7en",
    "Braveheart",
    "The Princess Bride",
    "Back to the Future",
    "The Grand Budapest Hotel",
    "Interstellar",
    "The Breakfast Club",
    "Raiders of the Lost Ark",
    "Toy Story",
    "The Shining",
    "Django Unchained",
    "The Godfather: Part III",
    "Eternal Sunshine of the Spotless Mind",
    "12 Angry Men",
    "The Wizard of Oz",
    "Casablanca",
    "Gone with the Wind",
    "City of God",
    "La La Land"
]

for item in iterable:
    statement 1
    ....
    statement 2

In [ ]:
for i in movies:
    print(i)

In [7]:
for i in [12,33,24,22,54]:
    print(i)

12
33
24
22
54

In [8]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [12]:
for i in range(13,131,13):
    print(i)

13
26
39
52
65
78
91
104
117
130

In [17]:
for name in movies:
    if 'the' in name.upper():
        print(name)

In [20]:
x = [2,2,2,2,2,90]
total= 0
for i in x:
    total +=i
print(total)

100

In [26]:
n =25
fact = 1
for i in range(2,n+1):
    fact*=i
print(i,fact)

25 15511210043330985984000000

In [29]:
while True:
    x= input('enter a number')
    if x.isnumeric():
        print('very good')
        break
    else:
        print('invalid input')

very good